:root{
    --background-color: #091413;
    --accent-color-dark: #285A48;
    --accent-color-light: #408A71;
    --text-color: #B0E4CC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav a{
    text-decoration: none;
    color: var(--accent-color-light);
    font-size: 1rem;
}

h1,h2,h3{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
}

header p{
    text-align: center;
    font-size: 1rem;
    color: var(--accent-color-dark);
}

.hero-img img{
    width: 7rem;
    height: auto;
}

#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: var(--accent-color-dark);
    width: 100%;
    gap: 1em;

    

}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
}

#aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em;
    
}
#aboutMe p{
    text-align: center;
}